/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex mono', monospace;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-text: #000028;
  --title-color: #d800ff;
  --main-color: #ff0070;
}